{% section 'article-template' %}
<div class="article-second">
	{% paginate article.comments by 50 %}
		{% assign number_of_comments = article.comments_count %}

		{% comment %}If a comment was just submitted, and it has no blank fields.{% endcomment %}
		{% if comment and comment.created_at %}
			{% assign number_of_comments = article.comments_count | plus: 1 %}
		{% endif %}

		{% if blog.comments_enabled? %}

          

          {% paginate article.comments by 5 %}
            {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}
            <div id="comments">
				{% if number_of_comments > 0 %}
            	<h2 class="section-header__title first">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
          		{% endif %}
              {% if comment and comment.created_at %}
                <p class="note form-success">
                  {% if blog.moderated? %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
              {% endif %}

              {% if number_of_comments > 0 %}
                <ul class="no-bullets">
                  {% comment %}
                    If a comment was just submitted with no blank field, show it.
                  {% endcomment %}
                  {% if comment and comment.created_at %}
                    <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                      {% include 'comment' %}
                    </li>
                  {% endif %}

                  {% comment %}
                    Showing the rest of the comments.
                  {% endcomment %}
                  {% for comment in article.comments %}
                    <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                      {% include 'comment' %}
                    </li>

                    {% unless forloop.last %}
                      <li class="line"></li>
                    {% endunless %}
                  {% endfor %}
                </ul>

                {% if paginate.pages > 1 %}
                  {% include 'pagination' %}
                {% endif %}

              {% endif %}


              <h2 class="section-header__title">{{ 'blogs.comments.title' | t }}</h2>

              <div class="form-vertical">
                {% form 'new_comment', article %}

                  {{ form.errors | default_errors }}

                  <div class="grid">
                    <div class="grid__item large--one-half">
                      <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                      <input class="input-full{% if form.errors contains 'author' %} error{% endif %}" type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">
                    </div>
                    <div class="grid__item large--one-half">
                      <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                      <input class="input-full{% if form.errors contains 'email' %} error{% endif %}" type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                    </div>
                  </div>

                  <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
                  <textarea class="input-full{% if form.errors contains 'body' %} error{% endif %}" name="comment[body]" id="CommentBody" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>

                  <div class="text-left">
                    {% if blog.moderated? %}
                      <p>{{ 'blogs.comments.moderated' | t }}</p>
                    {% endif %}

                    <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
                  </div>

                {% endform %}
              </div>

            </div>
          {% endpaginate %}
        {% endif %}

	{% endpaginate %}

  <div class="return-btn">
    <a href="{{ blog.url }}" class="btn"><i class="fa fa-reply"></i> {{ 'blogs.article.back_to_blog' | t: title: blog.title }}</a>
  </div>
  {% if blog.previous_article or blog.next_article %}
  <div class="article_pagination previous-next">
    {% if blog.previous_article %}
    <a href="{{ blog.previous_article }}" class="btn left article_pagination__prev"><i class="fa fa-chevron-left"></i> {{ 'blogs.article.previous_post' | t }}</a>
    {% endif %}

    {% if blog.next_article %}
    <a href="{{ blog.next_article }}" class="btn right article_pagination__next">{{ 'blogs.article.next_post' | t }} <i class="fa fa-chevron-right"></i></a>
    {% endif %}
  </div>
  {% endif %}
  <div class="clearfix"></div>
</div>